
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
background: #222;
overflow: hidden;
}
.container {
  background-color: black;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  position: relative;
  border-radius: 5px;
  border: 1px solid #111;
  overflow: hidden;
}
.ball {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  position: absolute;

  animation: moveLeft 3.55s linear 0s infinite alternate, moveUp 3.4s linear 0s infinite alternate;
}

 @-webkit-keyframes moveLeft {
  from { left: 0; } to { left: 98vw; }
}

@keyframes moveLeft {
  from { left: 0; } to { left: 98vw; }
}
 @-webkit-keyframes moveUp {
  from { top: 0; } to { top: 90vh; }
}

@keyframes moveUp {
  from { top: 0; } to { top: 97vh; }
}